html {
    margin: 0 auto;
    max-width: 1400px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    /* background-color: rgb(90, 90, 34); POUR LES TESTS CARTES */
}

h1 {
    font-size: 22px;
    margin: 0;
}
h2 {
    font-size: 18px;
    margin: 0;
}
h3 {
    font-size: 16px;
    margin: 0;
}

header {
    display: flex;
    height: 126px;
}

.logo img {
    height: 19px;
    margin-top: 44px;
}

nav {
    width: 100%;
    height: 126px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    height: 126px;
    list-style-type: none;
    margin: 0;
    margin-right: 10px;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 126px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li:hover {
    border-top: 4px solid #0065FC;
    transform: translate(0px, -4px);
    color: #0065FC;
    transition: all 0.2s ease-out;
}

/* -------------------- FIN DE LA PARTIE HEADER + NAV -------------------- */
/* -------------------- Debut de la section "recherche" -------------------- */
.recherche h1 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.recherche p {
    margin: 0;
    padding: 0;
}

.fonction_recherche {
    display: flex;
    width: 420px;
    height: 49px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.logo_localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 50px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.fonction_recherche input {
    height: 45px;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    padding-left: 10px;
}

.fonction_recherche input::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
  }
.fonction_recherche button {
    width: 182px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
}

/* -------------------- FIN DE LA SECTION "recherche" -------------------- */
/* -------------------- Debut de la section "filtres" -------------------- */

.filtres_conteneur {
    display: flex;
    align-items: center;
}
.filtres ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}
.filtres li {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-left: 50px;
    border: 3px solid #D9D9D9;
    border-radius: 25px;
}
.filtres li:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
}
.filtres .fa-solid {
    color: #0065FC;
    padding: 0 10px;
}

ul .fa-solid {
    transform: scale(1.6);
}

.info .fa-solid {
    border: 2px solid #F2F2F2;
    padding: 6px 10px;
    margin-right: 11px;
    border-radius: 22px;
}

/* -------------------- FIN DE LA SECTION "filtres" -------------------- */
/* -------------------- Debut de la section "test cartes" -------------------- */

.carte_hebergement {
    width: 28%;
    height: 199px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: #858585 0px 2px 4px 0px;
}

.carte_hebergement img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0px -10px;
    border-radius: 13px;
}

.description_hebergement {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 5px 10px;
    background-color: white;
    top: -88px;
    border-radius: 0px 0px 15px 15px;
}

.description_hebergement p {
    font-size: 14px;
    margin: 9px 0px;
}

.description_etoiles {
    color: #0065FC;
}

#etoile_grise {
    color: #F2F2F2;
}

/* Carte populaire : */

.carte_populaire {
    display: flex;
    width: 75%;
    height: 144px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: #858585 0px 2px 4px 0px;
    background-color: #0065FC;
}

.description_populaire {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 206px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 0px 13px 13px 0px;
}

.carte_populaire img {
    position: relative;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: -40px 0px;
    border-radius: 13px 0px 0px 13px;
}

.description_populaire p {
    font-size: 14px;
    margin-bottom: 30px;
}

/* -------------------- FIN DE LA SECTION "test cartes" -------------------- */
/* -------------------- Debut de la section "hebergements_populaires" -------------------- */
#hebergements_populaires {
    margin: 20px auto 60px;
    display: flex;
    justify-content: space-between;
}

.hebergements {
    width: 62%;
    height: 626px;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.hebergements h1 {
    margin: 30px 0px 0px 30px;
}
.hebergements h2 {
    margin: 20px 30px;
}

.hebergements_cartes {
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.populaires {
    width: 32%;
    height: 626px;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.populaires h1 {
    margin: 30px 0px 0px 30px;
}

.populaires_cartes {
    margin-top: 18px;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* -------------------- FIN DE LA SECTION "hebergements_populaires" -------------------- */
/* -------------------- Debut de la section "activités" -------------------- */

#activites {
    height: 500px;
    width: 100%;
    margin-bottom: 80px;
}

.cartes_activites_marseille {
    display: flex;
    justify-content: space-between;
}

.carte_activites {
    width: 22%;
    height: 450px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: blue;
    box-shadow: #D9D9D9 0px 2px 8px 0px;
}

.carte_activites img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.description_activites {
    display: flex;
    position: relative;
    bottom: 63px;
    padding: 20px 0 20px 20px;
    border-radius: 0px 0px 12px 12px;
    background-color: white;
}

/* -------------------- FIN DE LA SECTION "activiés" -------------------- */
/* -------------------- FIN DU "MAIN" -------------------- */
/* -------------------- Debut de la section "FOOTER" -------------------- */

footer {
    display: flex;
    width: 100%;
    height: 225px;
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
}

footer ul {
    list-style-type: none;
    width: 33%;
    padding: 20px 0px 0px 70px;
}

footer li {
    padding: 6px;
}

#categorie {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}