html {
    margin: 0 0%;
    max-width: 1400px;
    font-family: 'Raleway', serif;
    font-size: 16px;
    /* background-color: rgb(90, 90, 34); POUR LES TESTS CARTES */
}


h1 {
    font-size: 22px;
    margin: 0;
}
h2 {
    font-size: 18px;
    margin: 0;
}
h3 {
    font-size: 16px;
    margin: 0;
}

header {
    display: flex;
    height: 126px;
}

.logo img {
    height: 19px;
    margin-top: 44px;
    margin-left: 5px;
}

nav {
    width: 100%;
    height: 126px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    height: 126px;
    list-style-type: none;
    margin: 0;
}

nav li {
    display: flex;
    border-top: 4px solid transparent;
    align-items: center;
    justify-content: center;
    width: 167px;
}

nav a {
    display: block;
    padding-top: 60px;
    height: 80%;
    width: 100%;
    text-align: center;
}

nav li:hover {
    border-top: 4px solid #0065FC;
    transform: translate(0px, 0px);
    color: #0065FC;
    transition: all 0.2s ease-out;
}

/* -------------------- FIN DE LA PARTIE HEADER + NAV -------------------- */
/* -------------------- Debut de la section "recherche" -------------------- */
.recherche {
    width: 100%;
    margin-left: 5px;
}

form {
    width: 100%;
}

.recherche h1 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.recherche p {
    margin: 0;
    padding: 0;
}

.fonction_recherche {
    display: flex;
    width: 35%;
    height: 49px;
    margin-top: 20px;
    margin-bottom: 40px;
}

label {
    width: 60%;
    display: flex;
}

label .fa-solid {
    display: flex;
    width: 45px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.fonction_recherche input {
    height: 45px;
    width: 100%;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    padding-left: 10px;
}

.fonction_recherche input::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
  }
.fonction_recherche button {
    width: 40%;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.fonction_recherche button:active {
    color: black;
}

.fonction_recherche button .fa-solid {
    display: none;
}


/* -------------------- FIN DE LA SECTION "recherche" -------------------- */
/* -------------------- Debut de la section "filtres" -------------------- */

.filtres_conteneur {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}
.filtres ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 65%;
    padding-left: 0px;
}
.filtres li {
    display: flex;
    align-items: center;
    padding: 1%;
    border: 3px solid #D9D9D9;
    border-radius: 25px;
}
.filtres li:hover {
    background-color: #DEEBFF;
}

.filtres a {
    display: contents;
    color: black;
}

.info {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.filtres .fa-solid {
    color: #0065FC;
    padding: 0 10px;
}

ul .fa-solid {
    transform: scale(1.4);
}

.info .fa-solid {
    border: 2px solid #F2F2F2;
    padding: 6px 10px;
    margin-right: 11px;
    border-radius: 22px;
}

/* -------------------- FIN DE LA SECTION "filtres" -------------------- */
/* -------------------- Debut de la section "cartes" -------------------- */

.carte_hebergement {
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 199px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: #858585 0px 2px 4px 0px;
}

.carte_hebergement img {
    position: relative;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 13px 13px 0px 0px;
}

.description_hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 42%;
    width: 91%;
    padding: 0% 5%;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.description_hebergement p {
    margin: 0;
    font-size: 14px;
}

.description_etoiles {
    color: #0065FC;
}

.etoile_grise {
    color: #F2F2F2;
}

/* Carte populaire : */

.carte_populaire {
    display: flex;
    width: 75%;
    height: 144px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: #858585 0px 2px 4px 0px;
}

.description_populaire {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 5%;
    background-color: white;
    border-radius: 0px 13px 13px 0px;
}

.carte_populaire img {
    position: relative;
    width: 40%;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 13px 0px 0px 13px;
}

#img_bleu_blanc {
    object-position: 0px 20%;
}
#img_port {
    object-position: 0px 60%;
}

.description_populaire p {
    font-size: 14px;
    margin: 0px
}

.carte_hebergement a {
    display: contents;
    text-decoration: none;
    color: black;
}

.carte_populaire a {
    display: contents;
    text-decoration: none;
    color: black;
}


/* -------------------- FIN DE LA SECTION "test cartes" -------------------- */
/* -------------------- Debut de la section "hebergements_populaires" -------------------- */
#hebergements_populaires {
    margin: 20px auto 60px;
    display: flex;
    justify-content: space-between;
}

.hebergements {
    width: 62%;
    height: 626px;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.hebergements h1 {
    margin: 30px 0px 0px 30px;
}
.hebergements h2 {
    margin: 20px 30px;
}

.hebergements_cartes {
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.populaires {
    width: 32%;
    height: 626px;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.populaires h1 {
    margin: 30px 0px 0px 30px;
}

.populaires .fa-chart-line {
    margin: 35px 30px 0px 0px;
    transform: scale(1.2);
    color: #0065FC;
}

#titre_chart_line {
    display: flex;
    justify-content: space-between;
}

.populaires_cartes {
    margin-top: 18px;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* -------------------- FIN DE LA SECTION "hebergements_populaires" -------------------- */
/* -------------------- Debut de la section "activités" -------------------- */

#activites {
    height: 500px;
    width: 100%;
    margin-bottom: 80px;
}

#activites h1 {
    margin-left: 5px;
}

.cartes_activites_marseille {
    display: flex;
    justify-content: space-between;
}

.carte_activites {
    width: 22%;
    height: 450px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: #D9D9D9 0px 2px 8px 0px;
}

.carte_activites a {
    display: contents;
    text-decoration: none;
    color: black;
}

.carte_activites img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.description_activites {
    display: flex;
    position: relative;
    height: 5%;
    bottom: 66px;
    padding: 20px 0 20px 20px;
    border-radius: 0px 0px 12px 12px;
    background-color: white;
}

/* -------------------- FIN DE LA SECTION "activiés" -------------------- */
/* -------------------- FIN DU "MAIN" -------------------- */
/* -------------------- Debut de la section "FOOTER" -------------------- */

footer {
    display: flex;
    width: 100%;
    height: 225px;
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
}

footer ul {
    list-style-type: none;
    width: 33%;
    padding: 20px 0px 0px 70px;
}

footer li {
    padding: 6px;
}

footer a:hover {
    text-decoration: underline;
}

.categorie {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (min-width: 1400px) {
    html {
        margin: 0 auto;
    }
}

/* --------------------------- BREAKPOINT 992 px --------------------------- */

@media only screen and (max-width: 992px) {

    header {
        margin: 0 2%;
    }

    main {
        margin: 0 2%;
    }

    .recherche {
        margin-left: 10px;
    }

    .fonction_recherche {
        width: 50%;
    }

    .filtres_conteneur {
        width: 100%;
    }

    .filtres ul {
        width: 95%;
    }

    .filtres li {
        padding: 8px;
    }

    .filtres h2 {
        font-size: 17px;
    }

    .filtres .fa-solid {
        padding: 0 8px;
    }

    ul .fa-solid {
        transform: scale(1.4);
    }


    #hebergements_populaires {
        display: flex;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        height: 280px;
        margin-top: 40px;
    }

    .populaires_cartes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .carte_populaire {
        width: 30%;
    }

    footer ul {
        padding: 12px 0px 0px 70px;
    }

    footer li {
        padding: 5px;
    }

    #categorie {
        padding-bottom: 18px;
    }
}

/* --------------------------- BREAKPOINT 768 px --------------------------- */

@media only screen and (max-width: 768px) {


    main {
        margin: 0;
    }

    header {
        display: flex;
        margin: 0;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    nav ul {
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-between;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
    }

    nav a {
        width: 50%;
    }

    nav li {
        width: 100%;
        border-top: none;
        border-bottom: 4px solid #b9b9b9;
        height: 80px;
    }

    nav li:hover {
        border-top: none;
        border-bottom: 4px solid #0065FC;
        transform: translate(0px, 0px);
        color: #0065FC;
        transition: all 0.2s ease-out;
    }

    .fonction_recherche {
        width: 95%;
    }

    .fonction_recherche button {
        width: 15%;
    }

    .fonction_recherche button .fa-solid {
        display: initial;
    }

    label {
        width: 85%;
    }

    #rechercher {
        display: none;
    }

    .filtres_conteneur {
        flex-direction: column;
    }

    .filtres_conteneur ul {
        flex-wrap: wrap;
    }

    .filtres_conteneur li {
        padding: 3%;
        margin: 4px;
        width: 38%;
    }

    .filtres_conteneur h2 {
        font-size: 11px;
    }

    #hebergements_populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        height: 620px;
        border-radius: 0px;
    }

    .populaires_cartes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .carte_populaire {
        width: 80%;
    }

    .carte_populaire img {
        width: 35%;
    }

    .description_populaire {
        width: 65%;
    }

    #bleu_blanc {
        object-position: 0px 50%;
    }

    .hebergements {
        height: 1440px;
        border-radius: 0px;
        background-color: white;
        margin-bottom: 20px;
    }

    .hebergements_cartes {
        height: 95%;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .carte_hebergement {
        width: 80%;
    }

    .carte_hebergement img {
        object-position: 0px 60%;
    }

    #activites {
        height: 840px;
    }

    .description_activites {
        bottom: 52px;
    }

    .cartes_activites_marseille {
        flex-direction: column;
        align-items: center;
    }

    .carte_activites {
        width: 80%;
        height: 190px;
    }

    footer {
        height: 600px;
        flex-direction: column
    }
}